@{
    ViewBag.Title = "Donate";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<p>
	Why donate to me when you can directly donate to the homeless?  When the starts cooling and you pull 
	our your winter coat, buy a $10 MetroCard and stick in one of the extra pockets you now have.
</p>

<p>
	Next time you see someone you want to help, pull it out and give it to them.  Tell them it's a $10 card 
	they can use to get out of the cold.
</p>

<p>
	I do take a limited number of donations each season.  I turn off donations when I have too many cards to distribute
	and will return ungifted donations via paypal.  
</p>
<p>
	Consider giving $10 MetroCard away directly.  It will feel good.
</p>
<p>
	<small>
	*Paypal donations are no longer accepted as I have moved out of New York City.  Please keep giving.
	</small>
</p>