@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}


<p>
	<img src="~/Content/Images/homeless in harsh winter.jpg" style="width:30%;height:30%;float:right;" />
	The winters in NYC get cold.  Very cold at times.  There are some that struggle for warmth.  
	They wrap up on the street against buildings or huddle together in a park.  It is the holiday 
	season and are especially generous.  We help them, but we don't want to subsidise bad behavior.  
	What can you do?
</p>
	<ul>
		<li>You can give cash to great <a href="/organizations">organizations</a></li>
		<li>You can look the other way</li>
		<li>You can give cash directly to the homeless</li>
	</ul>
<p>
	I give $10 MetroCards to the homeless during the winter months.  I hope to give them
	an option to escape the cold and spend the night riding a subway line end to end.  
</p>
