@{
    ViewBag.Title = "Organizations";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<p>Below are a list of organizations and other resources I have found useful.</p>
<ul>
	<li>
		<a href="http://www.safehorizon.org/index/what-we-do-2.html">Safe Horizons</a> - Focuses on supporting victim of abuse to seek help and safety. 
		This includes youths to help prevent homelessness because prevention is always cheaper than cure.
	</li>
	<li><a href="http://projectrenewal.org/">Project Renewal</a> - Focuses on mental illness and substance addiction.</li>

	<li><a href="http://longmarchhome.org/home.html">Long March Home</a> - Focuses on those who have experienced war 
		and the associated trauma.
	</li>	
	<li><a href="http://ncsinc.org/who_is_ncs.html">Neighborhood Coalition for Shelter</a> - Focuses on vocational 
	programs and sobreity.</li>
	<li><a href="http://www.foodbanknyc.org/">Food Bank for NYC</a> - Helps length the time struggling families can 
		avoid being homeless.
	</li>
	<li><a href="http://www.bing.com/local/default.aspx?q=homeless+shelter+New+York%2C+New+York&qs=n&form=LLSV&pq=homeless+shelter+new+york%2C+new+york&sc=0-0&sp=-1&sk=">
		any number of homeless shelters.
	</a></li>
	<li><a href="http://www.nyc.gov/html/dhs/html/help/donations.shtml">Donation through NYC DHS</a> - A trust fund 
		and a private vocational scholarship program for those overcoming addiction.
	</li>
	<li><a href="http://www.safhnyc.org/#/about-us">Trinity's Services & Food</a> - If you want food to come with a religious message.</li>

	<li><a href="http://www.bing.com/search?q=food+pantry+for+the+homeless+nyc&qs=n&form=QBRE&pq=food+pantry+for+the+homeless+nyc&sc=0-29&sp=-1&sk=">
		Food Pantries</a> -- Pantries focusing on the homeless's food needs.
	</li>
</ul>
<p>And do your own research and internet searching.</p>
