@{
    ViewBag.Title = "The Idea";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<p>
	When I moved to New York City in 2007, I hadn't thought much about the homeless. 
	I assumed if you didn't have a home, you were lazy or a vagrant.  I was annoyed 
	when they would panhandle on the subway or would repulse half a subway car for themselves.
	I saw people giving them money and would scoff to myself , "sure, buy him another bottle 
	of booze".
</p>

<p>
	I started working with <a href="http://girldeveloper.com">Sara Chipps</a> in late 2008.  When 
	homeless issues came up she argued passionately for having compassion for the homeless.  Passionate
	in such a way I must be missing something.  She exposed me to all the reasons people end up homeless.
	I hadn't considered the effect of wars and childhood trauma result in choiceless homelessness.
</p>

<p>
	I would give to the [group that walks through the subway giving food and asking for donations to the homeless] 
	and the street fundraising coin drives because it was convienent. I noticed the donation request 
	picked up around winter, bringing more awareness.  That seemed so impersonal and I didn't feel like
	I was actually helping.
</p>

<p>
	<img src="~/Content/Images/f-stop.png" style="float:right;height:50%;width:50%" />
	In winter 2009 I found a solution.  It was especially cold one night saw a regular.  I walked down the stairs 
	at the F stop Broadway/Layfette and found an older lady tightly	gripping her coat with her cane and coin cup 
	slightly quivering. I had never given directly to a homeless before.  I had approximately a $10 
	and a $1 MetroCard. I offered the $1 MetroCard and as she reached out to receive it, I realized this gift
	could not do anything for her.
</p>

<p>
	I retracted my offering and instead gave her with my $10 MetroCard and asked her to find someplace warm
	tonight, even if on the subway.  The look of appreciation in her eyes sealed my plan of action for 
	helping the homeless.  I would give them $10 MetroCards to ride the subway end to end or get to a shelter 
	they know about.
</p>

<p>	
	They can't use it for alcohol; they can't use it for cigarettes; they can't use it for drugs.  
	They could only use my donation for a subway ride.  I know it is a lateral subsidy for vices, but
	on slow nights, they could always get warm.
</p>

