<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <table style="width:1024px">
		<tr>
			<td colspan="2">
				<h1>10 Dollar MetroCard Winters</h1>
				<h4>&nbsp;&nbsp;&nbsp;&nbsp;--A program for the homeless</h4>
				<span><a href="/">Home</a></span>&nbsp;&nbsp;
				<span><a href="/the-idea">The Idea</a></span>&nbsp;&nbsp;
				<span><a href="/organizations">Organizations</a></span>&nbsp;&nbsp;
				<span><a href="/donate">Donate</a></span>&nbsp;&nbsp;
			</td>
		</tr>
		<tr>
			<td style="width:700px">
				@RenderBody()
			</td>
			<td style="width:324px"></td>
		</tr>
    </table>
</body>
</html>
